
/*Basic reset*/
* {
    margin: 0;
    padding: 0;
}
body {
    /*controls backsgroud for entire page*/
    
    background: #4EB889;
}
/*adds padding, alings the menu navigation bar and details it */

#menu {
    background: #7FFF00;
    width: 250px;
    /*these specific coordinates allow the menu to be right above the food listings*/
    
    margin: 100px auto -100px auto;
    padding: 8px 0px;
    color: black;
}
/*horizontally aligns the links*/

#menu li {
    display: inline;
    padding: 20px;
}
/*aligns the menu box, as well as details everything within box*/

#FoodItems {
    background: #004050;
    width: 250px;
    margin: 100px auto 0 auto;
    color: white;
}
/*controls the details of the header*/

#food-items h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    background: linear-gradient(#003040, #002535);
}
/*list items*/

#food-items li {
    /*gets rid of the dots next to the list items*/
    
    list-style-type: none;
}
/*links*/

#food-items ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    line-height: 27px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    
    transition: all 0.15s;
}
/*hover effect on links*/

#food-items ul ul li a:hover {
    background: #003545;
    border-left: 5px solid lightgreen;
}
/*hides not active list items*/

#food-items ul ul {
    display: none;
}
/*if active then display the list*/

#food-items li.active ul {
    display: block;
}
#muffin {
    background: #00FFFF;
    width: 250px;
    /*these specific coordinates allow the menu to be right above the food listings*/
    
    margin: 100px auto -100px auto;
    padding: 8px 0px;
    color: black;
}
*/